
<div class="col-md-4">
    <div class="jumbotron" style="height: 400px">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation">
                @Html.ActionLink("Управление справочниками", "Index", "Home")
                <ul>
                    <li role="presentation">@Html.ActionLink("Персоны", "PersonList", "Person")</li>
                    <li role="presentation">@Html.ActionLink("Ключевые слова", "KeyWordList", "Person")</li>
                    <li role="presentation">@Html.ActionLink("Сайты", "Index", "Site")</li>
                    <li role="presentation">@Html.ActionLink("Пользователи", "UsersList", "User", new { id = (int)Utility.enums.RolesEnum.Admin }, null)</li>
                </ul>
            </li>
            <li role="presentation">@Html.ActionLink("Статистика краулера", "Index", "CrawlerStats", new { id = (int)Utility.enums.RolesEnum.Admin }, null)</li>
            <li role="presentation">@Html.ActionLink("Управление Аккаунтом", "Index", "CrawlerStats")</li>
        </ul>
    </div>
</div>
    
        
       

